body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: salmon;
    font-family: cursive;
}

.container{
    background-color: lightpink;
    width: 400px;
    padding: 20px; 
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 10px;
}

.textarea{
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkred;
}

.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.counter-container p{
    font-size: 18px;
    color: rgb(255, 7, 7);
}

.total-counter{
    color: slateblue;
}

.remaining-counter{
    color: green;
}
