<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confession Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/css/Icon.png">


  <script src="https://kit.fontawesome.com/c958f2dd0d.js" crossorigin="anonymous" ></script> <!--Font Awesome-->
  <link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Meow+Script&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Quicksand&display=swap" rel="stylesheet"> 
  <body>

    <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
      <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand ">OpenYourHeart</p>  
    
        <a class="navbar-toggler navbar-brand " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class=" fas fa-bars burger navbar-toggler-icon"></i>
        </a>
    
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
    <!--  <li id="contact"><a href="/contact">CONTACT US</a></li> -->
          <li id="compose"><a href="/compose">COMPOSE</a></li>
        </ul>
      </div>
    </div>
    
    </nav>
    <div class="container box">





      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>      
