<%- include('navbar',{signedIN:signedIN, if(usrDetails){ usrDetails:usrDetails }
})%>
<head>
  <title>Login</title>
</head>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row-1 col-span-4 d-flex justify-content-center">
      <h2>Login</h2>
    </div>
    <div class="row-2 d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6 d-flex flex-column">
        <img src="images/651.jpg" class="img-fluid" alt="Phone image" />
        <!-- <a href="https://www.freepik.com/vectors/car-deal"
          >Car deal vector created by iconicbestiary - www.freepik.com</a
        > -->
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form action="/login" method="POST">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              id="form1Example13"
              class="form-control form-control-lg"
              name="username"
            />
            <label class="form-label" for="form1Example13">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input
              type="password"
              id="form1Example23"
              class="form-control form-control-lg"
              name="password"
            />
            <label class="form-label" for="form1Example23">Password</label>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="form1Example3"
                checked
              />
              <label class="form-check-label" for="form1Example3">
                Remember me
              </label>
            </div>
            <a href="#!">Forgot password?</a>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<%-include('footer')%>
