<%- include("partials/header"); -%>
<div class="Text">

<h1>Contact</h1>
<div class="contact">
  
    <a href=""></a>
    <a href=""></a>

</div>
</div>
<%- include("partials/footer"); -%> 