<%- include("partials/header"); -%> <!--Adding header/footer Layouts-->
<div class="Text">

<h1>POST</h1>
<h1><%= title %></h1>
<p><%= content %></p>

</div>
<%- include("partials/footer"); -%> <!--Adding header/footer Layouts-->