#title { 
    background-color: #ff4c68;      
    color: white;
    
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15% 7%;
}
/* Setting the font for the entire body of the page. 
body{
    font-family: 'Montserrat', sans-serif;
} */
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: bold;
   
}

.navbar{
    padding-bottom: 4.5rem;
    padding-left: 0;
    padding-right: 0;
}
.nav-item{
    padding: 0px 18px;

}
.nav-link{
    font-size: 1.2rem;
}
.btn{
    font-weight: 100 !important;
}
.d-button{
    margin: 5% 3% 5% 0;
    font-weight: 300;
    
}
.title-image{
  
    transform: rotate(25deg);
    position: absolute;
    left: 30%;
    
}
.icon:hover{
    color: #ff4c68;
}
.icon{
    color:#ef8172;

    margin-bottom: 1rem;
   
}
.feature-heading{
    font-family: "Montserrat", sans-serif;
   font-size: 1.5rem;

  
}
.feature-description{
    color: #8f8f8f;
   
    font-weight: normal;
  
    font-size:medium;
   
  
 
}
.coloumn{
    padding: 4.5%;
    text-align: center;
    
    
    
}
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}
#testimonials{
 
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-image{
    width:15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
padding: 3% 2%;
}
/* .position{
    position: absolute;
    top: 750px;
    z-index: 1;
} */

@media (max-width:1028px) {
    .title-image{
        position: static;
        transform: rotate(0deg);
       
    }
  
    #title{
        text-align: center;
    }
    
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 7%;
}
h3{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size:3.5rem;
  width: 90%;

  margin-left: 10%;
    line-height: 1.5;
    padding: 1% 7%;
    
}
.cta-button{
 margin:1% 1%;
}

#footer{
    text-align: center;
    background-color: white;
    padding: 5% 7%;
}
p{
 color: #8f8f8f;
    padding: 1% 7%;
}
.footer-icon{
    padding: 0 1%;
}